html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
}
a {

  color: inherit;
  text-decoration: none;
}
.title {
  margin: 0;
  font-size: 55px;
  color: white;
  font-family: "Poppins", sans-serif;
  -webkit-transition: color 1s;
  transition: color 1s;
}
h1:hover {
  transition: 0.5s;
  color: #395c77;
}
h2.a {
  color: white;
  margin: 0px;
  margin-bottom: 10px;
  margin-left: 0px;
  font-size: 16px;
  font-family: "Poppins Light", sans-serif;
  -webkit-transition: color 1s;
  transition: color 1s;
}
h2.a:hover {
  transition: 0.5s;
  color: #395c77;
}
.bg {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  height: 100vh;
  background-image: url(./assets/home-header.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}
.bg-fx {
  height: 100%;
  backdrop-filter: blur(8px);
  background-color: #467b8a55;
  overflow: auto;
  scroll-behavior: smooth;
}
.top-bar {
  margin: 0px;
  background-color: #467b8a56;
  color: #ffffff;
  padding: 20px;
  display: flex;
  position: sticky;
  top: 0;
  z-index: 9999;
  align-items: center;
}
/*Top Bar*/
nav {
  padding-left: 16px;
  padding-right: 16px;
  display: flex;
  flex-grow: 1;
}

ul {
  background: transparent;
  list-style: none;
  margin: 0;
  padding-left: 0;
  text-align: center;
}

.list {
  color: #fff;
  background: transparent;
  display: block;
  float: left;
  padding: 1rem;
  position: relative;
  text-decoration: none;
  transition: all 0.5s ease;
  width: 153px;
  font-size: 20px;
}

.list a {
  color: #fff7f1;
}

.list:hover,
.list:focus-within {
  background: #467b8a56;
  cursor: pointer;
}

.list:focus-within a {
  outline: none;
}

ul .list ul {
  background: #2b292b;
  visibility: hidden;
  opacity: 0;
  min-width: 100%;
  position: absolute;
  transition: all 0.5s ease;
  margin-top: 1rem;
  left: 0;
  display: none;
  width: 100%;
}

ul .list:hover > ul,
ul .listi:focus-within > ul,
ul .listi ul:hover,
ul .list ul:focus {
  visibility: visible;
  opacity: 1;
  display: block;
}

ul .list ul .list {
  clear: both;
}

.div-logo {
  display: flex;
}
.div-title {
  margin-left: 12px;
}
